
{% extends 'base.html' %}
{% block conteudo %}

<h1>{{ titulo }}</h1>

<div class="container mt-5"  >
    <div class="jumbotron text-center">
        <h1 class="display-4">Pagina para cadastro de usuarios </h1>

      <form method="POST" class="mb-3" enctype="multipart/form-data">
        
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email"  name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" name="password" class="form-control"required >
        </div>
        
        <button type="submit" class="btn btn-primary">Criar</button>
        
        <a class="btn btn-secondary" href="{{ url_for('listar_produtos') }}">Voltar</a>
      
      </form>


    </div>
</div>


{% endblock %}
    


